.rating {
    width: 250px;
    height: fit-content;
    padding: 10px;
  }
  
  .barContainer {
    border: solid 1px black;
    height: 5px;
    width: 160px;
  }
  
  .barContainer .bar {
    background-color: #ffdb12;
    height: 100%;
  }
  
  .barContainer .count {
    position: relative;
    left: 170px;
    bottom: 15px;
  }