.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.siteLogo {
  margin-left: 30px;
  padding: 10px 50px; 
}

.searchBar {
  width: 500px;
  height: 25px;
}

.headerButtons {
  margin-right: 30px;
}

.headerButtons > img {
  margin-left: 20px;
  padding: 5px;
}

.navigationBar,
.siteLogo,
.headerButtons > * {
  border: solid 1px black;
}
