.product-card {
  width: 280px;
  height: 320px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-card > * {
  margin: 5px;
}

.product-image {
  height: 240px;
}

.product-title {
  font-size: 20px;
}

.product-price > * {
  display: inline;
  margin: 0 5%;
}

.product-price > button {
  height: 25px;
  width: 80px;
}

.loading-spinner {
  margin: auto;
}

.product-card,
.product-image {
  border: solid 1px black;
}
