.productCard {
    width: 280px;
    height: 320px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.productCard > * {
    margin: 5px;
}

.productImage {
    height: 240px;
}

.productTitle {
    font-size: 20px;
}

.productPrice > * {
    display: inline;
    margin: 0 10%;
}

.productPrice > button {
    height: 25px;
    width: 80px;
}

.productCard,
.productImage {
    border: solid 1px black;
}