.filters-bar {
    max-width: 220px;
    overflow-y: scroll;
}

.filter {
    margin: 40px 10px;
}

.score-filter > label {
    display: block;
}

.type-filter {
    display: flex;
    flex-wrap: wrap;
}

.type-filter > p {
    flex-basis: 100%;
}

.price-filter > label {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 12px;
    white-space: nowrap;
}

.filters-bar {
    border: solid 1px black;
}