.categoriesBar {
    display: flex;
    height: 50px;
}

.categoriesBar span {
    flex-wrap: nowrap;
    flex-grow: 1;
    text-align: center;
    height: 30px;
    margin: auto 5px;
}

.categoriesBar,
.categoriesBar span {
    border: solid 1px black;
}