.products-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
    padding: 30px;
}

.flex-break {
    flex-basis: 100%;
}

.pagination > * {
    width: 60px;
    height: 30px;
    margin: 10px;
}

.pagination {
    padding-top: 40px;
}

.products-list {
    border: solid 1px black;
}


/* FILTERS */

.filters-bar {
    max-width: 220px;
    overflow-y: scroll;
}

.filter {
    margin: 40px 10px;
}

.score-filter > label {
    display: block;
}

.type-filter {
    display: flex;
    flex-wrap: wrap;
}

.type-filter > p {
    flex-basis: 100%;
}

.price-filter > label {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 12px;
    white-space: nowrap;
}

.filters-bar {
    border: solid 1px black;
}