.primaryRow {
  display: flex;
  justify-content: space-between;
  min-height: 90%;
}

.imagesSection {
  width: 30vw;
}

.imagesSection > img {
  max-width: 90%;
  margin: 5%;
  margin-top: 50px;
}

.imageGallery {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imageGallery > img {
  max-width: 50px;
  cursor: pointer;
  margin: 0 5px;
}

.detailsSection {
  width: 50vw;
}

.purchaseSection {
  width: 20vw;
}

.secondaryRow {
  display: flex;
}

.primaryRow > *,
.secondaryRow > * {
  border: solid 1px black;
}
