.filtersBar {
    border: solid 1px black;
    max-width: 250px;
}

.filter {
    margin: 5%;
}

.priceFilter > label,
.scoreFilter > label {
    display: block;
}

.typeFilter {
    display: flex;
    flex-wrap: wrap;
}

.typeFilter > p {
    flex-basis: 100%;
}