@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont.ttf") format("truetype");
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: Montserrat, Verdana, sans-serif;
}